<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PeekWebPics</title>
  <meta name="theme-color" content="#000">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./assets/css/style.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js'         onerror="document.write(`<script src='./assets/js/libs/jquery-3.7.0.min.js'>\x3C/script>`)"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"               onerror="document.write(`<script src='./assets/js/libs/isotope-3.0.6.pkgd.min.js'>\x3C/script>`)"></script>
  <script src="https://npmcdn.com/isotope-masonry-horizontal@2.0.1/masonry-horizontal.js" onerror="document.write(`<script src='./assets/js/libs/masonry-horizontal-2.0.1.js'>\x3C/script>`)"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"                 onerror="document.write(`<script src='./assets/js/libs/imagesloaded-4.1.4.pkgd.min.js'>\x3C/script>`)"></script>
  <script src="./assets/js/style.js" defer></script>
  <link rel="icon" href="./assets/img/icon.png">
</head>
<body style="background:#000">
  <header>
    <div class="header_inner d-flex ai-cen">
      <div class="menu-btn-place">
        <button class="btn quad-btn menu-btn" title="Toggle menu" onclick="toggleSidebar()">
          <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M1 2.75A.75.75 0 0 1 1.75 2h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 2.75Zm0 5A.75.75 0 0 1 1.75 7h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 7.75ZM1.75 12h12.5a.75.75 0 0 1 0 1.5H1.75a.75.75 0 0 1 0-1.5Z"></path>
          </svg>
        </button>
      </div>
      <div class="path-line">
        <span class="section"><a href="" class="btn">Home</a></span>
        <span class="section"><a href="" class="btn">ATyans</a></span>
        <span class="section"><a href="" class="btn">Port</a></span>
        <button class="btn circle-btn folder-select-btn">&gt;</button>
      </div>
      <div class="sort-section">
        <button 
          class="btn quad-btn change-direction-btn down" 
          title="Change sort direction">
            <span>&uarr;</span>     
        </button>
        <select class="droplist sort-droplist" title="Sort type">
          <option>Name</option>
          <option>Date</option>
          <option>Size</option>
          <option>Height</option>
          <option>Width</option>
        </select>
      </div>
    </div>
  </header>
  <main class="grid-item--blur">
    <div class="sidebar_outer">
      <div class="sidebar">
        <div class="btn-place">
          <button class="btn blur-cards-btn"    title="Blur/Unblur cards" onclick="blurCards()"   >Blur    </button>
          <button class="btn layout-change-btn" title="Change layout"     onclick="changeLayout()">Vertical</button>
          <button class="btn pin-sidebar-btn"   title="Pin/Unpin sidebar" onclick="pinSidebar()"  >Pin     </button>
        </div>
        <div class="tree">
        </div>
        <footer>
          <div class="copyright">
            <img src="./assets/img/icon.svg" alt="Wepic" height="24" width="24">
            <p>© 2023 Zamelane</p>
          </div>
          <div class="linkplace">
            <a href="https://github.com/Zamelane/Wepic">Github</a>
          </div>
        </footer>
      </div>
    </div>
    <div class="grid_outer">
      <div class="grid">
        <div class="grid-item"><img src="thumbs/w400/01.jpg" alt="w400-01.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/02.jpg" alt="w400-02.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/03.jpg" alt="w400-03.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/04.jpg" alt="w400-04.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/05.jpg" alt="w400-05.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/06.jpg" alt="w400-06.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/07.jpg" alt="w400-07.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/08.jpg" alt="w400-08.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/09.jpg" alt="w400-09.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/10.jpg" alt="w400-10.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/11.jpg" alt="w400-11.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/12.jpg" alt="w400-12.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/13.jpg" alt="w400-13.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/14.jpg" alt="w400-14.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/15.jpg" alt="w400-15.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/16.jpg" alt="w400-16.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/17.jpg" alt="w400-17.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/18.jpg" alt="w400-18.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/19.jpg" alt="w400-19.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/20.jpg" alt="w400-20.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/21.jpg" alt="w400-21.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/22.jpg" alt="w400-22.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/23.jpg" alt="w400-23.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/24.jpg" alt="w400-24.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/25.jpg" alt="w400-25.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/26.jpg" alt="w400-26.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/27.jpg" alt="w400-27.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/28.jpg" alt="w400-28.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/29.jpg" alt="w400-29.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/30.jpg" alt="w400-30.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/31.jpg" alt="w400-31.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/32.jpg" alt="w400-32.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/33.jpg" alt="w400-33.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/34.jpg" alt="w400-34.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/35.jpg" alt="w400-35.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/36.jpg" alt="w400-36.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/37.jpg" alt="w400-37.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/38.jpg" alt="w400-38.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/39.jpg" alt="w400-39.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/40.jpg" alt="w400-40.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/41.jpg" alt="w400-41.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/42.jpg" alt="w400-42.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/43.jpg" alt="w400-43.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/44.jpg" alt="w400-44.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/45.jpg" alt="w400-45.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/46.jpg" alt="w400-46.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/47.jpg" alt="w400-47.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/48.jpg" alt="w400-48.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/49.jpg" alt="w400-49.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/50.jpg" alt="w400-50.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/51.jpg" alt="w400-51.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/52.jpg" alt="w400-52.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/53.jpg" alt="w400-53.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/54.jpg" alt="w400-54.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/55.jpg" alt="w400-55.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/56.jpg" alt="w400-56.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/57.jpg" alt="w400-57.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/58.jpg" alt="w400-58.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/59.jpg" alt="w400-59.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/60.jpg" alt="w400-60.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/61.jpg" alt="w400-61.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/62.jpg" alt="w400-62.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/63.jpg" alt="w400-63.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/64.jpg" alt="w400-64.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/65.jpg" alt="w400-65.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/66.jpg" alt="w400-66.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/67.jpg" alt="w400-67.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/68.jpg" alt="w400-68.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/69.jpg" alt="w400-69.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/70.jpg" alt="w400-70.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/71.jpg" alt="w400-71.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/72.jpg" alt="w400-72.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/73.jpg" alt="w400-73.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/74.jpg" alt="w400-74.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/75.jpg" alt="w400-75.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/76.jpg" alt="w400-76.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/77.jpg" alt="w400-77.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/78.jpg" alt="w400-78.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/79.jpg" alt="w400-79.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/80.jpg" alt="w400-80.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/81.jpg" alt="w400-81.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/82.jpg" alt="w400-82.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/83.jpg" alt="w400-83.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/84.jpg" alt="w400-84.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/85.jpg" alt="w400-85.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/86.jpg" alt="w400-86.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/87.jpg" alt="w400-87.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/88.jpg" alt="w400-88.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/89.jpg" alt="w400-89.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/90.jpg" alt="w400-90.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/91.jpg" alt="w400-91.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/92.jpg" alt="w400-92.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/93.jpg" alt="w400-93.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/94.jpg" alt="w400-94.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/95.jpg" alt="w400-95.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/96.jpg" alt="w400-96.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/97.jpg" alt="w400-97.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/98.jpg" alt="w400-98.jpg"></div>
        <div class="grid-item"><img src="thumbs/w400/99.jpg" alt="w400-99.jpg"></div>
      </div>
    </div>
  </main>
</body>
</html>
