<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Wepic (layout)</title>
  <meta name="theme-color" content="#000">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js'></script>
  <script src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js'></script>
  <script src="./style.js" defer></script>
  <link rel="icon" href="icon.png">
</head>
<body style="background:#000">
  <header>
    <div class="header_inner d-flex ai-cen">
      <div class="menu-btn-place">
        <button class="btn quad-btn menu-btn" title="Toggle menu" onclick="toggleSidebar()">☰</button>
      </div>
      <div class="path-line">
        <span class="section"><a href="" class="btn">Home</a></span>
        <span class="section"><a href="" class="btn">ATyans</a></span>
        <span class="section"><a href="" class="btn">Port</a></span>
        <button class="btn circle-btn folder-select-btn">&gt;</button>
      </div>
      <div class="sort-section">
        <button 
          class="btn quad-btn change-direction-btn down" 
          title="Change sort direction">
            <span>&uarr;</span>     
        </button>
        <select class="droplist sort-droplist" title="Sort type">
          <option>Name</option>
          <option>Date</option>
          <option>Size</option>
          <option>Height</option>
          <option>Width</option>
        </select>
      </div>
    </div>
  </header>
  <main class="grid-item--blur">
    <div class="sidebar_outer">
      <div class="sidebar">
        <div class="btn-place">
          <button class="btn pin-sidebar-btn" title="Pin sidebar" onclick="pinSidebar()">Pin</button>
          <button class="btn blur-cards-btn"  title="Blur cards"  onclick="blurCards()" >Blur</button>
        </div>
        <div class="tree">
        </div>
      </div>
    </div>
    <div class="grid_outer">
      <div class="grid">
        <div class="grid-item"><img src="thumbs/01.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/02.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/03.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/04.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/05.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/06.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/07.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/08.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/09.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/10.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/11.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/12.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/13.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/14.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/15.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/16.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/17.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/18.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/19.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/20.jpg" alt=""></div>
        <div class="grid-item"><img src="thumbs/21.jpg" alt=""></div>
      </div>
    </div>
  </main>
  <footer>
    <div class="copyright">
      <img src="icon.svg" alt="Wepic" height="24" width="24">
      <p>© 2023 Zamelane</p>
    </div>
    <div class="linkplace">
      <a href="https://github.com/Zamelane/Wepic">Github</a>
    </div>
  </footer>
</body>
</html>
