@font-face {
  font-family: "Roboto Flex";
  font-weight: 100 1000;
  src: url(./font/RobotoFlex.woff2) format("woff2"),
       url(./font/RobotoFlex.ttf)   format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
}

:root {
  color-scheme: dark;
  --c-b0:  #000;
  --c-b0a: #000a;
  --c-b4:  #444;
  --c-b4a: #4449;
  --c-t0: #fff;
  --c-t8: #888;

  --c-a5: #3081f7;

  @media (prefers-color-scheme: light) {
    color-scheme: normal;
    --c-b0:  #fff;
    --c-b0a: #fff9;
    --c-b4:  #bbb;
    --c-b4a: #bbb9;
    --c-t0: #000;
    --c-t8: #777;
  }
  &.dark-theme {
  color-scheme: dark;
  --c-b0:  #000;
  --c-b0a: #000a;
  --c-b4:  #444;
  --c-b4a: #4449;
  --c-t0: #fff;
  --c-t8: #888;
  }
  &.light-theme {
    color-scheme: normal;
    --c-b0:  #fff;
    --c-b0a: #fff9;
    --c-b4:  #bbb;
    --c-b4a: #bbb9;
    --c-t0: #000;
    --c-t8: #777;
  }

  --border-r: 6px;
  --card-width: 400px;
  --cards-gap: 8px;
  --header-height: 48px;
  --sidebar-width: 300px;
  --div-blur: 24px;
  --card-blur: 12px;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;

  background: var(--c-b0);
  color: var(--c-t0);
}

/*  ===  Элементы  ===  */

// Кнопка
.btn {
  cursor: pointer;
  text-decoration: unset;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  border-radius: var(--border-r);
  border: unset;
  font-size: 16px;
  background-color: transparent;
  color: var(--c-t0);
  * {
    fill: var(--c-t0);
  }
  &:hover {
    background-color: var(--c-b4a);
  }
  &:active {
    background-color: var(--c-b4);
  }
  &.quad-btn {
    padding: unset;
    width: 32px;
    font-size: 20px;
  }
  &.circle-btn { 
    padding: unset;
    width: 32px;
    border-radius: 50%;
    font-size: 20px;
  }
}
// Выпадающий список
.droplist {
  cursor: pointer;
  border-radius: var(--border-r);
  border: unset;
  font-size: 16px;
  height: 32px;
  background-color: transparent;
  color: var(--c-t0);
  padding: 0 6px 0 4px;
  &:hover {
    background-color: var(--c-b4a);
  }
  &:active {
    background-color: var(--c-b4);
  }
  option {
    color: var(--c-t0);
    background-color: var(--c-b0);
    &:hover {
      color: var(--c-t0);
      background-color: var(--c-b4)
    }
  }
}

/*  ===  Страница  ===  */

body {

  /*  = =  Шапка  = =  */

  header {
    top: 0;
    background: linear-gradient(var(--c-b0), var(--c-b0a));
    position: fixed;
    width: 100%;
    z-index: 100;
    height: var(--header-height);
    backdrop-filter: blur(var(--div-blur));
    .header_inner {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 8px;
      gap: 8px;
    }
    // Путь
    .path-line {
      display: flex;
      height: 32px;
      align-items: center;
      .section {
        display: flex;
        align-items: center;
        &:not(:first-child) {
          &::before {
            content: '/';
            color: var(--c-t8);
            font-size: 24px;
            padding: 0 4px;
          }
        }
      }
      a {
        height: 24px;
        padding: 0 6px;
        border-radius: var(--border-r);
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .folder-select-btn {
        color: var(--c-t8);
        margin: 0 2px;
        &:hover {
          color: var(--c-t0);
        }
      }
    }
    // Сортировка
    .sort-section {
      display: flex;
      justify-self: end;
      margin-left: auto;
      gap: 4px;
      .change-direction-btn {
        .down {
          > * {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  /*  = =  Боковое меню  = =  */

  .sidebar_outer {
    z-index: 50;
    position: fixed;
    top: 0;
    left: calc(var(--sidebar-width) * -1);
    width: var(--sidebar-width);
    min-width: 250px;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--c-b0), var(--c-b0a));
    backdrop-filter: blur(var(--div-blur));
    overflow-x: hidden;
    padding-top: var(--header-height);
    box-sizing: border-box;
    opacity: 0;
    transition: left 0.1s, opacity 0.1s;
    @media (max-width: 450px) {
      left: -100%;
      width: 100vw;
      background: var(--c-b0a);
    }
  }

  .sidebar {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 16px;
    height: 100%;
    position: relative;
    // Быстрые кнопки
    .btn-place {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 8px;
      @media (max-width: 716px) {
        .pin-sidebar-btn {
          display: none;
        }
      }
    }
    // Дерево
    .tree {
      &-item {
        cursor: pointer;
        display: block;
        &:hover > .label {
          text-decoration: underline;
        }
        input[type="checkbox"] {
          visibility: hidden;
          width: 0;
          height: 0;
        }
        .label {
          font-size: 16px;
          color: var(--c-t8);
          display: inline-flex;
          align-items: center;
          border-radius: var(--border-r);
          height: 32px;
          &::before {
            content: '';
            background: url("./../img/icon/arrow-corner_gray.svg");
            display: inline-block;
            width:  20px;
            height: 20px;
            margin-right:    4px;
            vertical-align: -4px;
          }
        }
        input[type="checkbox"]:checked + .label {
          color: var(--c-t0);
        }
        .branches {
          display: none;
          margin-left: 14px;
          border-left: 2px solid var(--c-b4);
          /*
          display: flex;
          flex-direction: column;
          gap: 8px;
          */
        }
        input[type="checkbox"]:checked + .label + .branches {
          display: block;
        }
        input[type="checkbox"]:checked + .label::before {
          background: url("./../img/icon/arrow-corner.svg");
          transform: rotate(90deg);
        }
      }
    }
    // Подвал
    footer {
      margin-top: auto;
      .copyright {
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 14px;
      }
      .linkplace {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        a {
          color: var(--c-a5);
          text-decoration: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 24px;
          padding: 0 6px;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  // Логика бокового меню
  &.sidebar--open {
    @media (max-width: 450px) {
      // Скрытие полос прокрутки в полноэкранном меню
      overflow: hidden; 
    } 
    .sidebar_outer {
      left: 0;
      opacity: 1;
    }
  }
  &.sidebar--open.sidebar--pin .grid_outer {
    margin-left: var(--sidebar-width);
  }
  // Палка для изменения размера бокового меню 
  .sidebar_outer .resizer {
    cursor: col-resize;
    position: absolute;
    width: 15px;
    right: 0;
    height: 95%;
    display: flex;
    align-items:     center;
    justify-content: center;
    @media (max-width: 450px) {
      display: none;
    }
    .bar {
      height: 15%;
      width:  5px;
      background: var(--c-t8);
      border-radius: 4px;
      transition: 0.1s;
    }
    &:hover  .bar {
      background: var(--c-t0);
    }
    &:active .bar {
      height: 50%;
    }
  }

  /*  = =  Размытие картинок (устарело)  = =  */

  &.grid-item--blur .grid .grid-item:after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    backdrop-filter: blur(12px);
    border-radius: calc(var(--border-r) * 2);
  }

  /*  = =  Кладка картинок-карточек (вертикально)  = =  */

  .grid_outer {
    //transition: margin 0.1s, left 0.1s;
    padding: var(--header-height) var(--cards-gap) 0;
    overflow-x: hidden;
    @media (max-width: 824px) {
      padding: var(--header-height) 0 0;
    }
  }
  .grid {
    margin: 0 auto;
    &-item {
      margin-bottom: calc(var(--cards-gap) - 3px);
      width: var(--card-width);
      height: auto;
      @media (max-width: 824px) {
        width: 100vw;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: calc(var(--border-r) * 2);
        @media (max-width: 824px) {
          border-radius: calc(var(--border-r) * 4) !important;
        }
      }
    }
  }
  &.sidebar--open.sidebar--pin .grid_outer {
    @media (max-width: 824px) {
      .grid-item {
        width: unset;
        img {
          border-radius: calc(var(--border-r) * 2);
        }
      }
    }
    @media (max-width: 716px) {
      margin-left: unset;
      .grid-item {
        width: 100vw;
      }
    }
  }

  /*  = =  Кладка картинок-карточек (горизонтально)  = =  */

  &.grid--horizontal {
    &.sidebar--open.sidebar--pin .grid_outer {
      @media (max-width: 824px) {
        .grid-item {
          width: unset;
          img {
            border-radius: calc(var(--border-r) * 2);
          }
        }
      }
      @media (max-width: 716px) {
        margin-left: unset;
        .grid-item {
          width: unset;
        }
      }
    }
    .grid_outer {
      position: fixed;
      top:   0;
      left:  0;
      right: 0;
      box-sizing: border-box;
      height: 100%;
      margin: 0;
      overflow-x: unset; 
      overflow-y: hidden;
      padding: var(--header-height) 0 var(--cards-gap) var(--cards-gap);
      @media (max-width: 824px) {
        padding: var(--header-height) 0 var(--cards-gap) var(--cards-gap);
        margin-left: unset;
      }
      @media (max-height: 864px) {
        padding: var(--header-height) 0 0 var(--cards-gap);
      }
    }
    .grid {
      margin: 0;
      height: 100%;
      &-item {
        margin-bottom: 0;
        width: auto;
        height: var(--card-width);
        margin-right: var(--cards-gap);
        @media (max-width: 824px) {
          width: unset;
        }
        @media (max-height: 864px) {
          height: calc(100% - var(--cards-gap));
        }
        img {
          @media (max-width: 824px) {
            border-radius: calc(var(--border-r) * 2);
          }
          @media (max-height: 864px) {
            border-radius: calc(var(--border-r) * 4);
          }
        }
      }
    }
  }
}
